@use '@carbon/colors';
@use '@carbon/type';

.linkFileContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid colors.$gray-30;
    padding: 10px 1vw;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: colors.$white;
}

.linkFileContainer>h5 {
    color: colors.$gray-90;
}

.fileName {
    font-weight: 500;
    text-decoration: underline;
    font-size: type.type-scale(4);
}

.dropdownStyle {
    min-width: 150px;
}

.tableContainer {
    position: relative;
    padding: 10px 1vw;
    margin-bottom: 20px;
    min-height: 70vh;
    border-radius: 5px;
    border: 1px solid colors.$gray-30;
    background-color: colors.$white;
}

.searchBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.searchContainer {
    display: flex;
    align-items: center;
    height: 40px;
}

.inputContainer {
    border-radius: 5px 0 0 5px;
    min-width: 20vw;
}

.searchInput {
    border: none;
    min-width: 200px;
    font-size: 15px;
    padding-left: 5px;
}

.searchInput:focus {
    outline: none;
}

.searchIcon {
    margin-bottom: -5px;
    font-size: 20px;
}

.linkFileContainer button {
    margin-right: 10px;
    font-size: type.type-scale(3);
    font-weight: 500;

}