.title {
    text-align: center;
    color: gray;
    font-weight: bold;
    margin: 2vw 0;
}

.linkFileContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid lightgray;
    box-shadow: 1px 1px 3px 1px lightgray;
    padding: 10px 1vw;
    margin-bottom: 20px;
}

.fileName {
    background-color: lightgray;
    padding: 2px 5px;
    border-radius: 2px;
}

.newLinkBtn {
    color: #2196f3;
    margin-right: 10px;
    cursor: pointer;
}

.tableContainer {
    box-shadow: 1px 1px 3px 1px lightgray;
    padding: 10px 1vw;
    margin-bottom: 20px;
    min-height: 70vh;
}

.searchBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.searchContainer {
    display: flex;
    align-items: center;
    height: 40px;
}

.inputContainer {
    padding: 9.5px;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 0.8px 1px gray;
    background-color: #f4f4f4;
}

.searchInput {
    border: none;
    min-width: 200px;
    font-size: 15px;
    background-color: #f4f4f4;
    padding-left: 5px;
}

.searchInput:focus {
    outline: none;
}

.searchIcon {
    margin-bottom: -5px;
    font-size: 20px;
}

.searchBtn {
    border-radius: 0px 5px 5px 0;
    padding: 0 20px;
    background-color: #2196f3;
}

.searchBtn:hover {
    background-color: #1389e9;
}