.resourceButton {
  margin-right: 5px;
}

.mainSection {
  padding-left: 10px;
}

.summarySection {
  margin: 20px 0;
}

.summarySectionEdit {
  margin: 20px 0;
  height: 70vh;
}

.editButton {
  margin-right: 5px;
}

.editButtonSection {
  display: flex;
  justify-content: flex-end;
}

.descriptionSection {
  margin-top: 30px;
}

.detailsSection {
  background-color: #f0f1f3;
  min-height: 89vh;
}

.detailsTitle {
  margin-top: 20px;
}

.detailsTitleIcon {
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 7px;
}

.detailsContent {
  margin: 0 10px;
  background-color: #ffffff;
  border-radius: 3px;
  padding: 15px 15px;
}

.detailsLabel {
  margin-bottom: 15px;
}

.detailsSubTitle {
  font-weight: bold;
}

.newProjectDescription {
  margin-left: 15px;
  margin-top: 30px;
}
