/* react vis network graph styles  */

.visGraphContainer {
    position: relative !important;

    canvas {
        min-height: 500px !important;
        height: 99vh !important;
        width: 99% !important;
        margin-left: 10px !important;
        border-radius: 10px;
        background-color: rgb(244, 244, 244);
    }

    .noDataTitle {
        margin: 50px;
        text-align: center;
    }
}

.nodeInfoContainer {
    position: absolute;
    padding: 10px 15px 10px 5px;
    top: 10px;
    right: 10px;
    width: 400px;
    min-height: 600px;
    max-height: 700px;
    overflow: hidden;
    overflow-y: auto;
    box-shadow: 1px 1px 15px lightgray;
    background-color: rgba(255, 255, 255, 0.903);
    border-radius: 10px;

    h6 {
        text-align: center;
        border-bottom: 1px solid lightgray;
        margin-bottom: 10px;
    }

    .infoRow {
        display: flex;
        border-bottom: 1px solid lightgray;
        padding: 5px 0;
    }

    p {
        overflow: hidden;
        font-size: 14px !important;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        white-space: pre-wrap;
        color: rgb(0, 0, 0);
        font-weight: 500 !important;

        span {
            font-weight: 600;
            margin-right: 5px;
            color: black;
        }
    }
}