.gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 3vw;
    padding: 3vw 0
}

.title {
    font-weight: 900;
    font-size: 34px;
    margin-bottom: 2vw;
}

.para {
    color: gray;
}

.btn {
    width: 100%;
    margin-top: 30px;
    font-size: 20px
}

.link {
    text-decoration: none;
}

.image {
    max-width: 800px
}