.gridContainer {
    text-align: center;
    padding: 3vw 0
}

.title {
    font-weight: 900;
    font-size: 34px;
    margin-bottom: 2vw;
}

.gridContainer button {
    width: 100%;
    margin-top: 30px;
    font-size: 20px
}

.link {
    text-decoration: none;
}

.image {
    max-width: 800px
}