.modalBodyStyle {
  padding: 0 10px 30px;
}

.step1Container {
  text-align: center;

  .skipBtn {
    margin-top: 20px;
  }
}

.step2Container {
  text-align: center;

  h4 {
    margin-bottom: 10px;
  }

  h5 {
    margin-bottom: 20px;
  }

  button {
    margin-top: 30px;
  }
}
