.newLinkMainContainer {
  height: 85vh;
  overflow-y: auto;
  padding-right: 2px;
  padding: 0 20px;
  //border: 0.5px solid rgb(227, 227, 227);
}

.linkTypeContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // box-shadow: 0 0 5px 1px lightgray;
  padding: 10px 1vw;
  margin-bottom: 20px;
  gap: 10px;
  border-radius: 10px;
}

.linkContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  h4 {
    width: 10%;
  }
}

.applicationContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  h4 {
    width: 10%;
  }

  .appAndProjectContainer {
    width: 90%;
    display: flex;
    align-items: center;
    gap: 1.3333%;
  }
}

.targetIframe {
  width: 100%;
  border: 0;
  height: 600px;
  border-radius: 10px;
}

.targetBtnContainer {
  margin-top: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  position: absolute;
  bottom: 25px;
  right: 20px;

  button {
    border-radius: 5px;
  }

  button:last-child {
    padding: 10px 15px;
  }
}

.cancelMargin {
  margin-top: 65vh;
}

.projectContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.resourceTypeContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.dropDownLabel {
  width: 10%;
}

.streamDD {
  width: 100%;
}

.targetSearchContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.searchContainer {
  display: flex;
  align-items: center;
  height: 40px;
}

.inputContainer {
  min-width: 20vw;
}

.searchInput {
  min-width: 200px;
  padding-left: 5px;
}

.newLinkTable {
  margin: 10px 0 15px 0;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  background-color: white;
}

.emptySearchWarning {
  text-align: center;
  margin-top: 2vw;
  font-weight: bold;
  color: lightgray;
}
