.accordionItem {
  margin-bottom: 15px;
  border: 0;
  box-shadow: 0 0 5px 1px lightgray;
  border-radius: 10px;
}

.sourceContainer {
  padding: 10px 1vw;
  border-top: 1px solid lightgray;
}

.sourceGrid {
  display: flex;
  align-items: center;
}

.sourceProp {
  margin: 2px 0;
  width: 25%;
}

.sourceValue {
  margin: 2px 0;
  width: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.linkTypeContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // box-shadow: 0 0 5px 1px lightgray;
  padding: 10px 1vw;
  margin-bottom: 20px;
  gap: 10px;
  border-radius: 10px;
}

.linkContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  h4 {
    width: 10%;
  }
}

.dropdownStyle {
  width: 90%;
}

.applicationContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  h4 {
    width: 10%;
  }

  .appAndProjectContainer {
    width: 90%;
    display: flex;
    align-items: center;
    gap: 1.3333%;
  }
}

.dropdownStyle2 {
  width: 32%;
}

.targetIframe {
  width: 100%;
  border: 0;
  height: 800px;
  border-radius: 10px;
}

.targetBtnContainer {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  button {
    border-radius: 5px;
  }
}

.cancelMargin {
  margin-top: 65vh;
}

.projectContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.resourceTypeContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.dropDownLabel {
  width: 10%;
}

.streamDD {
  width: 100%;
}

.targetSearchContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.searchContainer {
  display: flex;
  align-items: center;
  height: 40px;
}

.inputContainer {
  min-width: 20vw;
}

.searchInput {
  min-width: 200px;
  padding-left: 5px;
}

.newLinkTable {
  margin: 10px 0 15px 0;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  background-color: white;
}

.emptySearchWarning {
  text-align: center;
  margin-top: 2vw;
  font-weight: bold;
  color: lightgray;
}