@use '@carbon/colors';
@use '@carbon/type';

.sourceContainer {
    padding: 10px 1vw;
    margin-bottom: 15px;
    border: 1px solid colors.$gray-30;
    background-color: colors.$white;
}

.sourceList {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.sourceProp {
    width: 110px;
    color: colors.$gray-50;
}

.linkTypeContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid colors.$gray-30;
    background-color: colors.$white;
    padding: 10px 1vw;
    margin-bottom: 15px;
    gap: 10px;
}

.targetContainer {
    border: 1px solid colors.$gray-30;
    background-color: colors.$white;
    padding: 10px 1vw;
    min-height: 50vh;
}

.targetIframe {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.resourceTypeContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.dropDownLabel {
    width: 130px
}

.dropdownStyle {
    min-width: 30%;
}

.targetSearchContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.searchContainer {
    display: flex;
    align-items: center;
    height: 40px;
}

.inputContainer {
    min-width: 20vw;
}

.searchInput {
    min-width: 200px;
    padding-left: 5px;
}

.newLinkTable {
    margin: 10px 0 15px 0;
}

.btnContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    background-color: colors.$white;
}

.emptySearchWarning {
    text-align: center;
    margin-top: 2vw;
    font-weight: bold;
    color: colors.$gray-30;
}