@use '@carbon/colors';
@use '@carbon/type';

.main {
  padding-top: 50px;
}

#header {
  height: 55px;
}

#wbeHeader {
  height: 165px;
  display: block;
  border: none;
}

.projectTitle {
  margin-left: 5px;
  width: 220px;
}

.headerContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.wbeHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topContentContainer {
  box-shadow: 0 0 5px 1px lightgray;
  padding: 10px 1vw;
  margin-bottom: 15px;
  border-radius: 5px;
  margin-left: 50px;
}

.fileContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    border-radius: 5px;
  }
}

.fileName {
  span {
    margin-left: 10px;
    margin-bottom: -10px;
    background-color: #84ffff;
    padding: 2px 10px;
    border-radius: 10px;
    max-width: 600px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.hMenuItemContainer {
  display: flex;
}

.hMenuItem {
  list-style: none;
  cursor: pointer;
  height: 50px;

  p {
    font-weight: 550;
  }
}

.hMenuItem:focus {
  border: none;
}

.pageTitle {
  width: 100%;
  text-align: center;
  font-size: 30px;
}

.profile {
  margin-right: 5px;
  color: colors.$gray-30;
}

.popoverContent {
  min-width: 200px;
  max-width: 300px;

  .content {
    min-height: 10vh;
    padding: 5px 0;
    background-color: colors.$gray-90;

    .userContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      padding: 0 15px;

      span {
        background-color: colors.$gray-70;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    p {
      color: colors.$blue-40;
      font-weight: 500;
      padding: 2px 15px;
      cursor: pointer;
    }

    p:hover {
      background-color: colors.$gray-80;
    }
  }

  .wbeContent {
    min-height: 10vh;
    padding: 5px 0;
    background-color: colors.$white;

    .userContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      padding: 0 15px;

      span {
        background-color: colors.$gray-10;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    p {
      color: colors.$blue-50;
      font-weight: 500;
      padding: 2px 15px;
      cursor: pointer;
    }

    p:hover {
      background-color: colors.$gray-10;
    }
  }

  button {
    width: 100%;
  }
}

#sidebar {
  width: 200px;
  margin-top: 7px;

  hr {
    border-color: colors.$gray-50;
    border-bottom: 1.5px solid colors.$gray-50;
  }
}

.searchContainer {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

.sidebarLink {
  cursor: pointer;
}

.linkFileContainer>h5 {
  color: colors.$gray-90;
}