#header {
  height: 55px;
}

#wbeHeader {
  height: 165px;
  display: block;
  border: none;
}

.projectTitle {
  margin-left: 5px;
  width: 220px;
}

.headerContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.wbeHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topContentContainer {
  // box-shadow: 0 0 5px 1px lightgray;
  // padding: 10px 0;
  margin-bottom: 15px;
  // border-radius: 5px;
}

.marginLeft {
  margin-left: 50px;
}

.fileContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    border-radius: 5px;
  }
}

.titleDiv {
  display: flex;
  align-items: center;
  max-width: 80%;
  gap: 10px;

  p {
    // color: gray;
    margin-top: 5px;
  }

  .icon {
    margin-bottom: -3px;
    font-size: 20px;
  }
}

.seeMLBtn {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: -10px;
  cursor: pointer;
}

.arIcon {
  font-size: 25px;
  margin-bottom: -12px;
  margin-left: -5px;
}

.hMenuItemContainer {
  display: flex;
}

.hMenuItem {
  list-style: none;
  cursor: pointer;
  height: 50px;

  p {
    font-weight: 550;
  }
}

.hMenuItem:focus {
  border: none;
}

.pageTitle {
  width: 100%;
  text-align: center;
  font-size: 30px;
}

.profile {
  margin-right: 5px;
}

.popover {
  padding: 0;
}

.popoverContainer {
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 0 !important;
  border-radius: 8px !important;
  box-sizing: border-box !important;
}

.userContainer {
  display: grid;
  grid-template-columns: 12% 75%;
  margin-bottom: 30px;
  gap: 10px;
  padding: 10px;
}

.popButton {
  display: flex !important;
  width: 100% !important;
  justify-content: flex-start !important;
  gap: 15px !important;
  padding: 15px !important;
  border-radius: 0 !important;
}

.popButton:last-child {
  border-radius: 0 0 8px 8px !important;
}

.popoverContent {
  min-width: 200px;
  max-width: 300px;

  .content {
    min-height: 10vh;
    padding: 5px 0;

    .userContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      padding: 0 15px;

      span {
        border-radius: 50%;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    p {
      font-weight: 500;
      padding: 2px 15px;
      cursor: pointer;
    }
  }

  .wbeContent {
    min-height: 10vh;
    padding: 5px 0;

    .userContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      padding: 0 15px;

      span {
        border-radius: 50%;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    p {
      font-weight: 500;
      padding: 2px 15px;
      cursor: pointer;
    }
  }

  button {
    width: 100%;
  }
}

#sidebar {
  width: 200px;
  margin-top: 7px;
}

.searchContainer {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

.sidebarLink {
  cursor: pointer;
}

.darkModeStyle {
  margin-bottom: 20px;
}
