.popoverContainer {
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 0 !important;
  border-radius: 8px !important;
  box-sizing: border-box !important;
}

.userContainer {
  display: grid;
  grid-template-columns: 12% 75%;
  margin-bottom: 30px;
  gap: 10px;
  padding: 10px;
}

.popButton {
  display: flex !important;
  width: 100% !important;
  justify-content: flex-start !important;
  gap: 15px !important;
  padding: 15px !important;
  border-radius: 0 !important;
}

.popButton:last-child {
  border-radius: 0 0 8px 8px !important;
}
