.tableContainer,
.tableHeader,
.pagination {
}

.tableCell {
  width: 200px;

  .sourceIdEl {
    width: 150px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  a {
    width: 350px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
    transition: 0.3s;
    color: rgb(32, 175, 246);
  }

  a:hover {
    color: rgb(0, 146, 219);
  }
}

.boxCell {
  width: 100px;
}

.newLinkCell1 {
  width: 15%;
}

.newLinkCell2 {
  width: 35%;
}

.tableCellName {
  cursor: pointer;
}

.targetCell {
  width: 35%;
}

.popoverContentStyle {
  position: relative;
  background-color: white;
  padding: 35px 0 0;

  iframe {
    width: 500px;
    height: 250px;
  }
}

.actionContainer {
  display: flex;
  flex-direction: column;
  width: 150px;
  padding: 10px;
}

.actionMenu {
  width: 160px;
}

.menuItem {
  height: 30px;
}

.statusIcon {
  font-size: 18px;
  margin: 0 5px -4px 0;
}

.validIcon {
}

.invalidIcon {
}

.noStatusIcon {
}

#sourceProp {
  border-right: 1px solid lightgray;
  padding: 8px;
  width: 30%;
}

#sourceValue {
  padding: 8px;
}

// links data table rsuite
.tableContainerDiv {
}
