.tableCell {
    border-left: 1px solid lightgray;
    width: 200px;
}

.tableCellName {
    color: rgb(0, 8, 255);
    cursor: pointer;
}

.targetCell {
    width: 35%;
}

.targetCell>span {
    cursor: pointer;
}

.actionContainer {
    display: flex;
    flex-direction: column;
    width: 150px;
    padding: 10px;
}

.actionMenu {
    width: 150px;
}

.menuItem {
    height: 25px;
}

.pagination {
    background-color: #f4f4f4;
}

.statusIcon {
    font-size: 18px;
    margin: 0 5px -4px 0;
}

.validIcon {
    color: #1ca55e;
}

.invalidIcon {
    color: red;
}

.noStatusIcon {
    color: lightgray;
}

.modalHeadContainer {
    display: flex;
    border-bottom: 2px solid lightgray;
    padding: 10px;
}

.modalTitle {
    cursor: pointer;
    font-weight: bold;
    color: #3805c8;
    font-size: 18px;
    border-bottom: 2px solid #3805c8;
}

.modalBody {
    margin: 0;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

.sourceList {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.sourceProp {
    width: 100px;
    color: gray;
}