.tableCell {
    border-left: 1px solid lightgray;
    width: 200px;
}

.tableCellName {
    color: rgb(0, 8, 255);
    cursor: pointer;
}

.targetCell {
    width: 300px;
}

.actionContainer {
    display: flex;
    flex-direction: column;
    width: 150px;
    padding: 10px;
}

.actionMenu {
    width: 150px;
}

.menuItem {
    height: 25px;
}

.pagination {
    background-color: #f4f4f4;
}

.statusIcon {
    font-size: 18px;
    margin: 0 5px -4px 0;
}

.validIcon {
    color: #1ca55e;
}

.invalidIcon {
    color: red;
}

.noStatusIcon {
    color: lightgray;
}