.formContainer {
    margin-top: 3vw;
}

.container {
    max-width: 650px;
    margin: 8vw auto 0;
    padding: 2vw;
    border: 1px solid gray;
    border-radius: 10px;
}

.title {
    text-align: center;
}

.titleSpan {
    font-weight: bold
}

.submitBtn {
    display: block;
    margin: 2vw 0 0 auto;
    border-radius: 5px;
    background-color: #2196f3;
}

.submitBtn:hover {
    background-color: #0b84e6;
}

.errText {
    color: red
}

.input {
    margin-bottom: 20px
}