.App {
  min-height: 100vh;

  h1 {
    font-size: 40px !important;
  }

  h2 {
    font-size: 30px !important;
  }

  h3 {
    font-size: 22px !important;
  }

  h4 {
    font-size: 22px !important;
  }

  h5 {
    font-size: 19px !important;
  }

  h6 {
    font-size: 18px !important;
  }

  p,
  button,
  input,
  input::selection,
  input::placeholder {
    font-size: 17px !important;
  }

  a {
    font-size: 17px !important;
  }
}

.mainContainer {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 1vw;
}

.adminContainer {
  padding: 0 1vw;
}

.container {
  position: relative;
  padding-bottom: 10px;
}

.show_nav {
  margin-left: 200px;
  width: 100%;
  transition: all 0.3s;
}

.hide_nav {
  width: 100%;
  margin-left: 56px;
  transition: all 0.3s;
}

.wbeDashboardContainer {
  padding-top: 15px;
}

.text-center {
  text-align: center;
}

.linkFileContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 1vw;
  margin-bottom: 15px;

  button {
    border-radius: 5px;
  }
}

.linkFileContainer > h5 {
  span {
    margin-left: 10px;
    margin-bottom: -10px;
    background-color: #84ffff;
    padding: 2px 10px;
    border-radius: 10px;
    max-width: 600px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.graphContainer {
  width: 100%;
  height: 90vh;
}

.wbeNavSpace {
  margin-top: 15px;
  margin-left: 5px;
}

// links side nav
.links-components-sidebar {
  display: flex !important;
  flex-direction: column !important;
  height: 100vh;

  .links-side-nav-body {
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 20px;
  }

  .wbe-nav-setting {
    margin: auto 0 20px;
  }
}

// admin side nav
.admin-components-sidebar {
  display: flex !important;
  flex-direction: column !important;
  height: 93vh;

  .admin-side-nav-body {
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 20px;
  }
}

.dropdown-text {
  width: 100%;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tooltip-trigger {
  border: 0;
  background-color: white;
  cursor: pointer;
}

.cds--accordion__content {
  padding: 0 !important;
}

.aDashboardLink {
  cursor: pointer;
  margin-bottom: 5px;
}

// Use select picker
.selectPicker {
  font-size: 18px !important;
}

.selectPickerMenu {
  display: flex;
  align-items: center;
  gap: 5px;
}

.adminDasIcon {
  margin: 0 20px 0 -35px !important;
}

.adminModalTitle {
  font-size: 20px !important;
  font-weight: bold !important;
  text-align: center !important;
}

.adminModalFooterBtn {
  font-size: 17px !important;
  padding: 7px 18px !important;
  margin-left: 10px;
}

// authorize iframe style
.authorize-iframe {
  width: 100%;
  height: 480px;
  border: 0;
  border: 1px dashed lightgray;
}

.toast-container {
  margin-bottom: 40px;
}

.download-link:hover {
  color: blue;
}

.column-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rs-drawer-body {
  padding: 30px 20px !important;
}
