.resourceDdContainer {
  padding: 10px 1vw;
  margin-bottom: 15px;
  border-radius: 5px;
  width: 45%;
}

.fileName {
  font-weight: 500;
  text-decoration: underline;
}

.fileDropdown {
  width: 100%;
}

.dropdownStyle {
  min-width: 150px;
}

.tableContainer {
  position: relative;
  padding: 10px 0 0;
  border-radius: 5px;
}

.onlyTableContainer {
  border: 0.5px solid rgb(238, 238, 238);
  height: 70vh;
  overflow-y: auto;
}

.onlyTableContainerDark {
  border: 0.5px solid #3c3f43;
  height: 70vh;
  overflow-y: auto;
}

.paginationStyle {
  border: 0.5px solid rgb(239, 238, 238);
  border-top: 0;
  padding: 3px 0;
}

.paginationStyleDark {
  border: 0.5px solid #3c3f43;
  border-top: 0;
  padding: 3px 0;
}

.searchBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.searchContainer {
  display: flex;
  align-items: center;
}

.inputContainer {
  border-radius: 5px 0 0 5px;
  min-width: 20vw;
}

.searchInput {
  border: none;
  min-width: 200px;
  font-size: 15px;
  padding-left: 5px;
}

.searchInput:focus {
  outline: none;
}

.searchIcon {
  margin-bottom: -5px;
  font-size: 20px;
}

// link manager table style
.table_row_light {
  height: 40px;
  border-bottom: 0.5px solid rgba(246, 241, 241, 0.81);
}

.table_row_dark {
  height: 40px;
  border-bottom: 0.5px solid rgb(42, 41, 41);
}

.table_row_light:last-child {
  height: 40px;
  border-bottom: 0;
}

.table_row_dark:last-child {
  height: 40px;
  border-bottom: 0;
}

.table_row_light:hover {
  background-color: #f2faff;
}

.table_row_dark:hover {
  background-color: #323232;
}

.uiPreviewStyle {
  margin-left: 10px;
}

.statusHeader {
  display: flex;
  align-items: center;
  gap: 3px;
  margin: 10px;

  .headerCheckBox {
    height: 16px;
    width: 16px;
    cursor: pointer;
    margin-bottom: -2px;
  }
}

.headerCell {
  margin: 10px;

  h6 {
    text-align: start;
  }
}

.dataCell {
  margin-left: 20px;
}

.actionDataCell {
  margin-left: 5px;
}

.statusCellWidth {
  width: 100px;
}

.tableStyle {
  padding: 20px;
  width: 100%;
  border: 1px solid;
}
.treeDiv {
  border: 1px solid;
  display: flex;
}

.codemirror {
  width: 70%;
}

.tree {
  width: 30%;
}

.error {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  color: red;
}
.buttonDiv {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}
.styled_table {
  border-collapse: collapse;
  font-size: 0.9em;
  width: 100%;
  border: 0.5px solid rgb(238, 238, 238);
}
.styled_table thead tr {
  text-align: left;
}
.styled_table th,
.styled_table td {
  padding: 12px 15px;
}
.styled_table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.targetBtnContainer {
  bottom: 25px;
  right: 20px;
  position: absolute;

  button {
    border-radius: 5px;
  }

  button:last-child {
    padding: 10px 15px;
  }
}
